<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework#2</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <div class="header">
        <div class="header_left">
            <div class="header_left_logo">Palo Alto</div>
        </div>
        <div class="header_right">
            <ul class="header_right_menu">
                <li class="header_right_menu-item">home</li>
                <li class="header_right_menu-item">about</li>
                <li class="header_right_menu-item">archive</li>
                <li class="header_right_menu-item">contact</li>
                <li class="header_right_menu-item icon_search">&nbsp;</li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="main_post">
            <h3 class="main_post_info-date">Sep 20</h3>
            <div class="main_post_info-title-tag"><h3>I Do Travel</h3></div>
            <h1 class="main_post_info-title">No difference how many peaks you reach
                if there was no pleasure in the climb.</h1>
            <div class="main_post_split-line">&nbsp;</div>
            <p class="main_post_info-article">
                Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna.
                Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus.
                Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin
                orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae
                rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate
                nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
            </p>
            <h2 class="main_post_info-link">read more</h2>
            <ul class="main_post_info-tag">
                <li class="main_post_info-tag-item">Yosemite</li>
                <li class="main_post_info-tag-item">Peak</li>
                <li class="main_post_info-tag-item">Explorer</li>
            </ul>
        </div>

        <div class="main_post">
            <img class="main_post_info-img" src="../images/img_post_1.png">
            <h3 class="main_post_info-date">Sep 20</h3>
            <div class="main_post_info-title-tag"><h3>I Do Travel</h3></div>
            <h1 class="main_post_info-title">No difference how many peaks you reach
                if there was no pleasure in the climb</h1>
            <div class="main_post_split-line">&nbsp;</div>
            <p class="main_post_info-article">
                Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna.
                Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus.
                Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin
                orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae
                rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate
                nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
            </p>
            <h2 class="main_post_info-link">read more</h2>
            <ul class="main_post_info-tag">
                <li class="main_post_info-tag-item">Yosemite</li>
                <li class="main_post_info-tag-item">Peak</li>
                <li class="main_post_info-tag-item">Explorer</li>
            </ul>
        </div>

    </div>
    <div class="footer">

    </div>

</body>
</html>